{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "rules": {
        "indent": ["error", 2],
        "semi": ["error", "always"],
        "camelcase": ["error", {"properties": "always"}],
        "@typescript-eslint/no-namespace": "off",
        "quotes": ["error", "double"]
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ]
}
