node_modules/
tsconfig.tsbuildinfo
.tsbuildinfo
.*.swp
.vagrant
vendor
*.pyc
__pycache__
venv/
k8s/bin
*.ova
*.tgz
*.tar.gz
*.rkestate
*.img
*.iso
build
dist/
package-lock.json
.nyc_output/
config-*.yaml
config-*.yml

